/* common css section start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

img{
    display: block;
    /* width: 100%; */
    /* height: 100%; */
}

ul{
    list-style-type: none;
}

.aling-center{
    align-items: center;
}
/* common css section end */


/* nav css section start */
nav{
    background-color: #252d2f;
    text-align: justify;
}

nav div.row{
    align-items: center;
}

nav .logo{
    width: 25%;
}

nav div.menu{
    width: 75%;
}

nav div .menu ul{
    justify-content: flex-end;
}

nav .menu ul li a{
    color: white;
    text-transform: uppercase;
    padding: 29px 20px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    transition: 0.8s;
    position: relative;
    z-index: 1;
}

nav .menu ul li a::after{
    content: '';
    width: 100%;
    height: 0;
    background-color: yellow;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.58s;
    z-index: -1;
    transform: scale(0) rotate(20deg);
    transform-origin: top;
}

nav .menu ul li a:hover::after,
nav .menu ul li a.active::after{
    height: 100%;
    background: orangered;
    transform: scale(1) rotate(0);
}

/* nav css section end */

/* bannar section css start */
#bannar{
    background-image: url(../img/bannar.jpg);
    background-size: cover;
    height: 1300px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#banner::before{
    content: '';
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

#bannar .container{
    margin: auto;
}

#bannar h1{
    color: white;
    padding: 20px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: 200px;
    margin-left: 220px;
    margin-right: 220px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

#bannar a{
    color: white;
    /* display: block; */
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 20px 23px;
    transition: 0.6s;
    border: none;
}


#bannar a:hover{
    background-color: #2ecc71;
    border-radius: 10px;
    color: black;
}


/* banner section css end */

/* bannar down section css start */

#bottom .child1{
    width: 33%;
     /* padding: 50px 60px; */
     margin: 80px 0;
}

#bottom .child1 .tittle{
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    margin: 28px 0;
    text-transform: uppercase;
}

#bottom .child1 .p1{
    font-size: 18px;
    color: #919191;
    margin: auto;
}

/* bannar down section end */

/* about section css start */

#about .about_img{
    width: 30%;
    position: relative;
}

#about .about_img img{
    display: block;
    width: 100%;
    height: 100%;
}

#about .about_img img:last-child{
    position: absolute;
    top: 0;
    left: 0;
     z-index: 99;
     opacity: 0;
     visibility: hidden;
     transition: 0.67s;
     transform: scale(0) rotate(50deg);
     transform-origin: left top;
}

#about .about_img:hover img:last-child{
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(0);
}

#about .about_info{
    width: 70%;
    background-color: #f2f2f1;
    padding: 100px 200px 100px 100px;
}


#about .about_icon{
    width: 15%;
}

#about .about_info1{
    width: 50%;
}

#about .about_child{
    width: 50%;
    margin-bottom: 20px;
}

#about .about_info .p2{
    font-size: 18px;
    color: #919191;
    padding-top: 30px;
    padding-bottom: 10px;
}

#about .about_info .p4{
    font-size: 18px;
    color: #919191;
    padding-bottom: 40px;
}
#about .about{
    font-weight: 700;
    /* padding-bottom: 40px; */
    font-size: 30px;
    text-transform: uppercase;
    color: #566366;
}

#about .info .p2{
    margin-bottom: 20px;
    color: #919191;
}

#about .about_child h4{
    font-size: 22px;
    color: #566366;
    /* margin: 25px 0; */
    text-transform: uppercase;
}

#about .about_child .p3{
    width: 243px;
    /* margin-top: 30px; */
    margin-right: 20px;
    font-size: 18px;
    color: #919191;
    padding-top: 10px;
    /* padding-right: 20px; */
}
/* about section css end */

/* skill section css start */
#skill .skill_info{
    width: 50%;
    padding: 100px 50px;
}


#skill .info_skill1{
    width: 50%;
    padding: 100px 150px;
}

#skill .inside{
    width: 100%;
    background-color: #f1f1f1;
}

#skill .outside{
    text-align: right;
    padding: 2px 0;
}

#skill .outside1{
    width: 90%;
   background-color: #2ecc71;
}

#skill .outside2{
    width: 80%;
   background-color: #2ecc71;
}

#skill .outside3{
    width: 90%;
   background-color: #2ecc71;
}

#skill .outside4{
    width: 70%;
   background-color: #2ecc71;
}

#skill .h4_title{
    font-size: 22px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
    padding: 5px 0;
    padding-top: 30px;
}


#skill .skill_info .skills{
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#skill .skill_info .p5{
    font-size: 16px;
    color: #919191;
    padding-bottom: 22px;
    line-height: 25px;
}

#skill .skill_info .p6{
    font-size: 16px;
    color: #919191;
    padding-bottom: 60px;
    line-height: 25px;
}

#skill .skill_info .contact_ancor{
    color: #2ecc71;
    font-size: 18PX;
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 36px;
    border-right: 2PX solid #2ecc71;
    border-left: 2PX solid #2ecc71;
    border-top: 2PX solid #2ecc71;
    border-bottom: 2PX solid #2ecc71;
    transition: 0.67s;
}

#skill .skill_info .contact_ancor:hover{
    background-color: #252d2f;
    color: #ffffff;
    border-radius: 10px;
}    

/* skill section css section end */

/* resume section css section start */
#resume{
   background-color: #f1f1f1;
    height: 442px;
    position: relative;
}


#resume .inner_resume_container .resume_info{
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
   
}

#resume .inner_resume_container .p10{
    font-size: 18px;
    color: #919191;
    text-align: center;
    width: 1049px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 80px;
    line-height: 28px;
}

#resume .inner_resume_container .resume_ancore{
    display: block;
    text-align: center;
    margin: auto;
    width: 245px;
    color: #2ecc71;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 2px solid #2ecc71;
    border-top: 2px solid #2ecc71;
    border-right: 2px solid #2ecc71;
    border-bottom: 2px solid #2ecc71;
    padding: 20px 20px;
    margin-bottom: 40px;
    transition: 0.7s;
}

#resume .inner_resume_container .resume_ancore:hover{
    background-color: #252d2f;
    color: #ffffff;
    border-radius: 10px;
}

#resume .inner_resume_container::after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: #f2f2f1;
    border-bottom: 22px solid transparent;
    border-top: 22px solid #f2f2f1;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    margin-left: 50%;
    margin-right: 50%;
    transform: rotate(45deg);
}

/* resume css section end */

/* education,work css section start */

#education .education_info,
#work .work_info{
    width: 50%;
    padding: 100px 50px;
}

#education .info_education1,
#work .info_work1{
    width: 50%;
    padding: 100px 150px;
}

#education .container{
    border-bottom: 2px solid #cccccc;
}

#education .education_info .educations,
#work .work_info .works{
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#education .education_info .p5,
#work .work_info .p5{
    font-size: 16px;
    color: #919191;
    padding-bottom: 22px;
    line-height: 25px;
}

#education .education_info .p6,
#work .work_info .p6{
    font-size: 16px;
    color: #919191;
    padding-bottom: 60px;
    line-height: 25px;
}

#education .info_education1 .education_child .diploma,
#work .info_work1 .work_child .diploma{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
}

#education .info_education1 .education_child .p7,
#work .info_work1 .work_child .p7{
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #919191;
}

#education .info_education1 .education_child .p8,
#work .info_work1 .work_child .p8{
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    width: 71px;
    text-align: center;
    padding: 5px 4px;
     margin-bottom: 25px;
}

#education .info_education1 .education_child .p9,
#work .info_work1 .work_child .p9{
    margin-top: 25px;
    font-size: 18px;
    color: #919191;
    
}

/* education,work css section end */

/* stone css section start */
#stone{
    background-color: #f2f2f1;
    height: 415px;
}


#stone .stone_info .p11{
    width: 1080px;
    font-size: 24px;
    color: #919191;
   text-align: center;
   padding-top: 100px;
}

#stone .stone_info .p12{
    color: #566366;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 48px;
}

/* stone css section end */

/* portfoli css section start */
#portfoli{
    padding-bottom: 80px;
}
#portfoli .portfoli_1{
    color: #566366;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 95px;
    text-align: center;
}

#portfoli .p13{
    color: #919191;
    font-size: 18px;
    width: 1050px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    margin: auto;
}

#portfoli .portfoli_child{
    width: 33.3%;
    position: relative;
}

#portfoli .portfoli_child img{
    /* width: 100%; */
   display: block;
   margin: auto;
  padding: 18px 16px;
}



#portfoli .portfoli_child .overlay{
    position: absolute;
    left: 16px;
    right: 15px;
    top: 17px;
    bottom: 14px;
    width: 367px;
    height:301px ;
    background-color: rgba(46,204,113,0.85);
    /* text-align: center; */
    transition: 0.5s;
     border-radius: 50%;
    transform: scale(0);
    transform-origin: top;
}



#portfoli .portfoli_child .overlay .row{
    height: 100%;
}


#portfoli .portfoli_child .overlay .cnt{
      width: 100%;
    
}


#portfoli .portfoli_child:hover .overlay{
    border-radius: 0;
    transform: scale(1);
}

/* portfoli css section end */


/* contact css section start */

#contact{
    background-color: #252d2f;
   height: 907px;
}

#contact .contact_info{
    width: 50%;
}

#contact .contact_form{
    width: 50%;
}

#contact .contact_info .contacts{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 97px;
}

#contact .contact_info .p14,
#contact .contact_info .p15,
#contact .contact_info .p16{
    color: #919191;
    font-size: 18px;
    
}

#contact .contact_info .p14{
    padding-top: 46px;
    padding-bottom: 43px;
    line-height: 25px;
}

#contact .contact_info .p15{
    padding-bottom: 10px;
}

#contact .contact_info .p16{
       padding-bottom: 40px;
}

#contact .p17{
    color: #919191;
    font-size: 14px;
}


#contact .span1,
#contact .span2{
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
}

#contact .contact_form form{
    padding-bottom: 35px;
}

#contact .span1{
    margin-right: 45px;
}

#contact .span2{
    margin-right: 37px;
}
#contact .contact_form{
    padding-left: 95px;
    padding-top: 139px;
}

#contact .contact_form input,
#contact .contact_form .input_1,
#contact .contact_form textarea{
    display: block;
    width: 100%;
    border: none;
    background: #4b5456;
    margin-bottom: 20px;
    padding: 15px 20px;
}


#contact .contact_form textarea{
    height: 280px;
}

#contact .contact_form .label_1,
#contact .contact_form .label_2{
    font-size: 18px;
    color: #ffffff;
}

#contact .contact_form button{
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #191f21;
    padding: 22px 37px;
    margin-top: 20px;
    margin: auto;
    text-transform: uppercase;
    transition: 0.68s;
    border: none;
}

#contact .contact_form button:hover{
    background-color: #2ecc71;
    border-radius: 10px;
    color: #191f21;
}

/* last section css start */
#last{
    background-color: #191f21;
    height: 177px;
    width: 100%;
}

#last .p18{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #4b5456;
    padding-top: 48px;
    padding-bottom: 31px;
}

#last .row .icons{
    margin: auto;
    width: 10%;
    align-items: center;
}

#last i{
    color: #4b5456;
    transition: 0.6s;
}

#last i:hover{
    color: #ffffff;
}
/* last section css end */


